.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-items: center;

  p-card {
    width: 100%;
    max-width: 300px;
  }

  img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }
}